.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    width: 100dvw;

    background-color: #0E4C68;
    .LoginArea {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        height: 70dvh;
        width: 40dvw;
        padding: 4em 0em;

        background-color: #FFFFFF;
        border-radius: 15px;
        .LoginLogo {
            width: 40%;
            
            img {
                width: 100%;
            }
        }
        
        .Login {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 65%;
            width: 60%;

            .LoginForm {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 70%;
                width: 100%;

                .LoginTittle {
                    font-size: 28px;
                    font-weight: 700;
                    color: #0E4C68;
                }

                .LoginText {
                    display: flex;
                    flex-direction: column;
                    label {
                        
                        color: #0E4C68;
                        margin-left: 10px;
                    }
                    
                    input {
                        color: #0E4C68;
                        border: solid 1px #0E4C68;
                        border-radius: 15px;
                        box-sizing: border-box;
                        
                        width: 100%;
                        padding: 12px;
                        font-size: 14px;


                    }

                    input:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}