.Button {
    button {
        background-color: #0D4D69;
        align-items: center;

        color: #FFF;
        border-radius: 20px;
        border: none;
 

        line-height: normal;
        cursor: pointer;
        
        text-align: center;
        font-size: 16px;
    }
}